.container {
    composes: pad-h-3 from '../styles.css';
    composes: white from '../styles.css';
    composes: bg-blue from '../styles.css';
    display: flex;
    align-items: center;
    height: 6.4rem;
}

.fixed {
    composes: z4 from '../styles.css';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
