/* The CSS class applied to all form children components.  */
.component {
  display: block;
  margin: auto;
  margin-top: .5rem;
}

.form-button {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.125rem;
  -webkit-appearance: none;
  text-transform: uppercase;
  composes: marg-0  from '../styles.css';
  composes: bold from '../styles.css';
  composes: button-pad-1 from '../styles.css';
  composes: default-text from '../styles.css';
  composes: default-border from '../styles.css';
  composes: cursor-pointer from '../styles.css';
  composes: primary-button-border-width from '../styles.css';
  composes: bg-primary from '../styles.css';
  composes: hover-bg-primary from '../styles.css';
  composes: border-blue from '../styles.css';
  composes: white from '../styles.css';
}
