.container {
    composes: relative from '../styles.css';
    composes: flex from '../styles.css';
    composes: flex-column from '../styles.css';
    composes: pad-0 from '../styles.css';
    composes: marg-b-0 from '../styles.css';
}

.navigation {
    composes: flex from '../styles.css';
    composes: flex-row from '../styles.css';
    composes: border-bottom from '../styles.css';
    composes: border-gray from '../styles.css';
}

.tab {
    composes: pad-v-2 from '../styles.css';
    composes: pad-h-2 from '../styles.css';
    composes: black from '../styles.css';
    composes: border from '../styles.css';
    composes: border-transparent from '../styles.css';
    composes: rounded-top from '../styles.css';
    composes: marg-b-less-1px from '../styles.css';
    line-height: 1;
}

.label {
    composes: tab;
    composes: cursor-pointer from '../styles.css';
}

.label:hover, .label:focus {
    border-color: #ddd #ddd transparent;
}

.label:active {
    border-color: #aaa #aaa transparent;
}

.active {
    composes: tab;
    composes: cursor-default from '../styles.css';
    composes: bg-white from '../styles.css';
    border-color: #aaa #aaa transparent;
}

.disabled {
    composes: tab;
    composes: pointer-events-none from '../styles.css';
    composes: cursor-not-allowed from '../styles.css';
    opacity: .2;
}

.hidden {
    composes: tab;
    composes: display-none from '../styles.css';
}

.pointer {
    composes: absolute from '../styles.css';
    composes: width-0 from '../styles.css';
    height: .2rem;
    margin-top: -.2rem;
}

.tabContent {
    composes: flex from '../styles.css';
    composes: flex-column from '../styles.css';
    composes: pad-v-2 from '../styles.css';
    composes: pad-h-2 from '../styles.css';
}
.tabActive {
    composes: block from '../styles.css';
}
.tabContent:not(.tabActive){
    display: none;
}
