.container {
    composes: z4 from '../styles.css';
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.active {
    composes: container;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    pointer-events: all;
}

.inactive {
    composes: container;
    display: none;
    pointer-events: none;
}

.overlay {
    composes: bg-black from '../styles.css';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .35s;
    transition-property: opacity;
}
.overlayActive {
    composes: overlay;
    opacity: .6;
}

.overlayInactive {
    composes: overlay;
    opacity: 0;
}

.invisible > *:not(.overlay) {
    pointer-events: all;
}