@import '../Button/Button.css';
@import '../styles/variables.css';

.base {
    border-style: none;
    /*border-top: 1px solid #eee !important; !* Important designation needed to overwrite Button styling in prod build *!*/
}

.subNav {
    height: 40px;
    transition: height .3s ease-in-out;
}

.subNav.collapsed.initial {
    height: auto;
}

.subNav.collapsed.initial button {
    display: list-item;
    visibility: hidden;
}

.subNav.collapsed.normal {
    height: 0;
}

.subNav.collapsed.normal button {
    display: none;
    visibility: visible;
    transition: height .3s ease-in-out;
}

.navItem button {
    width: 100%;
    border-color: var(--silver);
    border-left: solid 5px transparent;
    color: var(--dark-gray);
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: var(--white);
    text-align: left;
}

.horizontal button {
    border-top: solid 5px transparent;
    border-left: none;
}

.horizontal ~ li > button {
    padding-left: 10px !important;
}

.subNav button {
    padding-left: 38px;
}

.navItem button:hover {
    background-color: var(--silver);
    color: var(--dark-gray);
}

.navItem button:focus {
    outline: none;
}

.active > button, .active > a > button {
    border-left-color: var(--blue);
    background-color: var(--silver);
    color: var(--blue);
}

.horizontal.active > button {
    border-top: solid 5px var(--blue) !important;
}

.caret::before {
    content: "";
    border: solid var(--blue);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: -5px;
    left: 5px;
}

.caretHorizontal::before {
    transform: rotate(45deg);
}

.caretVertical::before {
    transform: rotate(45deg);
}

.caret {
    position: relative;
    width: 18px;
    height: 10px;
    vertical-align: middle;
    float: right;
    clear: right;
    border-color: var(--dark-gray);
    transform: none;
    margin: 5px 0 0;
    transition: transform .3s;
    top: -2px;
}


.collapsed .caretVertical {
    transform: rotate(90deg);
}