@import '../styles/variables.css';
/* Base styles for the element that has a tooltip */
.tooltip {
  composes: gray from '../styles.css';
  composes: default-font from '../styles.css';
  position: relative;
  display: inline-block;
  font-size: 0.8333rem !important;
}

.tooltip > i , .block > i {
  font-size: 1rem !important;
  cursor: pointer;
}

.block {
  display: inline-block;
  vertical-align: top;
}

/* Base styles for the entire tooltip */

.tooltip:before,
.tooltip > .tooltipContent {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
.tooltip.active:hover:before,
.tooltip.active:hover > .tooltipContent,
.tooltip.active:focus:before,
.tooltip.active:focus > .tooltipContent {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip > .tooltipContent {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 14px;
  line-height: 1.2;
  text-align:center;
}

/* Directions */

/* Top (default) */
.tooltip:before,
.tooltip > .tooltipContent,
.tooltip-top:before,
.tooltip-top > .tooltipContent {
  bottom: 100%;
  left: 50%;
}

.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -11.5px;
  border-top-color: var(--blue);
}

/* Horizontally align top/bottom tooltips */
.tooltip-top > .tooltipContent,
.tooltip-bottom > .tooltipContent {
  margin-left: -80px;
}

.tooltip:hover:before,
.tooltip:focus:before,
.tooltip-top:hover > .tooltipContent,
.tooltip-top:focus > .tooltipContent,
.tooltip:hover > .tooltipContent,
.tooltip:focus > .tooltipContent {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left > .tooltipContent {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -10.5px;
  margin-bottom: -5px;
  border-top-color: transparent;
  border-left-color: var(--blue);
}

.tooltip-left:hover:before,
.tooltip-left:hover > .tooltipContent,
.tooltip-left:focus:before,
.tooltip-left:focus > .tooltipContent {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom > .tooltipContent {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -11px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: var(--blue);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:focus:before,
.tooltip-bottom:hover > .tooltipContent,
.tooltip-bottom:focus > .tooltipContent{
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right > .tooltipContent {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: -5px;
  margin-left: -11.5px;
  border-top-color: transparent;
  border-right-color: var(--blue);
}

.tooltip-right:hover:before,
.tooltip-right:hover > .tooltipContent,
.tooltip-right:focus:before,
.tooltip-right:focus > .tooltipContent {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left > .tooltipContent,
.tooltip-right > .tooltipContent {
  margin-left: 0;
  margin-bottom: -15px;
}