.container {
  display: inline-block;
  position: relative;
  min-width: 8rem;
}

.content {
  composes: absolute from '../styles.css';
  composes: clearfix from '../styles.css';
  composes: rounded from '../styles.css';
  composes: bg-white from '../styles.css';
  composes: z4 from '../styles.css';
  composes: cursor-pointer from '../styles.css';
  text-align: left;
  top: 100%;
  left: 0;
  overflow-y: auto;
  box-shadow:  0 2px 3px rgba(0, 0, 0, 0.075), 0 0 0 1px rgba(0,0,0,0.1);
}

.content:hover {
  text-decoration: none;
}

.inactive {
  composes: content;
  display: none;

}

.active {
  composes: content;
}

.list {
  composes: pad-0 from '../styles.css';
  composes: marg-0 from '../styles.css';
  list-style: none;
}

.item {
  composes: pad-v-1 from '../styles.css';
  composes: pad-h-2 from '../styles.css';
  composes: hover-white from '../styles.css';
  composes: hover-bg-blue from '../styles.css';
}

.item:hover {
  text-decoration: none;
}

i {
  border: solid #999999;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  float: right;
}

.arrow {
  top: 2pt;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.2em;
  border-top: 0.2em;
}

.dropdown-button {
  min-width: 100%;
  padding-left: 0px;
  padding-left: 0.5rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}