.container {
  display: inline-block;
  position: relative;
  min-width: 10rem;
}

.content {
  composes: clearfix from '../styles.css';
  composes: rounded from '../styles.css';
  composes: bg-white from '../styles.css';
  composes: z4 from '../styles.css';
  composes: cursor-pointer from '../styles.css';
  text-align: left;
  left: 0;
  overflow-y: auto;
  box-shadow:  0 2px 3px rgba(0, 0, 0, 0.075), 0 0 0 1px rgba(0,0,0,0.1);
}

.content:hover {
  text-decoration: none;
}

.inactive {
  composes: content;
  display: none;

}

.active {
  composes: content;
}

.list {
  composes: pad-0 from '../styles.css';
  composes: marg-0 from '../styles.css';
  list-style: none;
  transition: height 1s;
  max-height: 350px; 
  overflow: auto;
}

.item {
  composes: pad-v-1 from '../styles.css';
  composes: pad-h-2 from '../styles.css';
}

.item:hover {
  text-decoration: none;
  background-color: #E6E6E6;
}

i {
  border: solid #333;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  float: right;
  padding: 3px;
}

.arrow {
  top: 2pt;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.2em;
  border-top: 0.2em;
  margin-right: .5rem;
  vertical-align: middle;
  display: inline-block;
}

.dropdown-button {
  min-width: 100%;
  padding-left: 0px;
  padding-left: 0.5rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 1.8rem;
  line-height: normal;
  padding-top: .5rem;
  background-color: white;
}

.dropdown-button:hover {
  min-width: 100%;
  padding-left: 0px;
  padding-left: 0.5rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 1.8rem;
  line-height: normal;
  padding-top: .5rem;
  background-color: #E6E6E6;
}

.selected {
  
}