.container {
  display: inline-block;
  position: relative;
  min-width: 10rem;
}

.content {
  composes: clearfix from '../styles.css';
  composes: rounded from '../styles.css';
  composes: bg-white from '../styles.css';
  composes: z4 from '../styles.css';
  composes: cursor-pointer from '../styles.css';
  text-align: left;
  left: 0;
  overflow-y: auto;
  box-shadow:  0 2px 3px rgba(0, 0, 0, 0.075), 0 0 0 1px rgba(0,0,0,0.1);
}

.content:hover {
  text-decoration: none;
}

.inactive {
  composes: content;
  display: none;

}

.active {
  composes: content;
}

.list {
  composes: pad-0 from '../styles.css';
  composes: marg-0 from '../styles.css';
  list-style: none;
  transition: height 1s;
  max-height: 250px; 
  overflow: auto;
}

.item {
  composes: pad-v-1 from '../styles.css';
  composes: pad-h-2 from '../styles.css';
}

.item:hover {
  text-decoration: none;
  background-color: #E6E6E6;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #000000 transparent transparent transparent;
  float: right;
  margin-top: 0.25rem;
}

.dropdown-button {
  min-width: 100%;
  padding-left: 0px;
  padding-left: 0.5rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 1.8rem;
  line-height: normal;
  padding-top: .5rem;
  background-color: white;
}

.dropdown-button:hover {
  background-color: #E6E6E6;
}

.selected {
  composes: pad-v-1 from '../styles.css';
  composes: pad-h-2 from '../styles.css';
  background-color: #CCCCCC;
}

.selected:hover {
  background-color: #E6E6E6;
}