@import './variables.css';

/*Utility layout*/
.inherit      { display: inherit }
.inline       { display: inline }
.block        { display: block }
.inline-block { display: inline-block }
.table        { display: table }
.table-cell   { display: table-cell }
.display-none { display: none }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

.overflow-x-hidden { overflow: hidden }
.overflow-y-hidden { overflow: hidden }

.overflow-x-scroll { overflow: scroll }
.overflow-y-scroll { overflow: scroll }

.overflow-x-auto { overflow: auto }
.overflow-y-auto { overflow: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.left  { float: left }
.right { float: right }

.fit { max-width: 100% }

.border-box { box-sizing: border-box }

.width-0 { width: 0 }
.width-100 { width: 100% }
.height-100 { height: 100% }

.width-inherit { width: inherit }

/*Alignment*/
.align-baseline { vertical-align: baseline }
.align-top      { vertical-align: top }
.align-middle   { vertical-align: middle }
.align-bottom   { vertical-align: bottom }

/*Positioning*/
.relative { position: relative }
.absolute { position: absolute }
.fixed    { position: fixed }

.top-0    { top: 0 }
.right-0  { right: 0 }
.bottom-0 { bottom: 0 }
.left-0   { left: 0 }

.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }

/*Whitespace/margin/padding*/

.marg-0  { margin:        0 }
.marg-t-0 { margin-top:    0 }
.marg-r-0 { margin-right:  0 }
.marg-b-0 { margin-bottom: 0 }
.marg-l-0 { margin-left:   0 }

.marg-1  { margin:        var(--space-1) }
.marg-t-1 { margin-top:    var(--space-1) }
.marg-r-1 { margin-right:  var(--space-1) }
.marg-b-1 { margin-bottom: var(--space-1) }
.marg-l-1 { margin-left:   var(--space-1) }

.marg-2  { margin:        var(--space-2) }
.marg-t-2 { margin-top:    var(--space-2) }
.marg-r-2 { margin-right:  var(--space-2) }
.marg-b-2 { margin-bottom: var(--space-2) }
.marg-l-2 { margin-left:   var(--space-2) }

.marg-3  { margin:        var(--space-3) }
.marg-t-3 { margin-top:    var(--space-3) }
.marg-r-3 { margin-right:  var(--space-3) }
.marg-b-3 { margin-bottom: var(--space-3) }
.marg-l-3 { margin-left:   var(--space-3) }

.marg-4  { margin:        var(--space-4) }
.marg-t-4 { margin-top:    var(--space-4) }
.marg-r-4 { margin-right:  var(--space-4) }
.marg-b-4 { margin-bottom: var(--space-4) }
.marg-l-4 { margin-left:   var(--space-4) }

.marg-h-1 { margin-left: var(--space-1); margin-right: var(--space-1); }
.marg-h-2 { margin-left: var(--space-2); margin-right: var(--space-2); }
.marg-h-3 { margin-left: var(--space-3); margin-right: var(--space-3); }
.marg-h-4 { margin-left: var(--space-4); margin-right: var(--space-4); }

.marg-h-auto { margin-left: auto; margin-right: auto; }
.pad-0 { padding: 0 }

.pad-1  { padding:       var(--space-1) }
.pad-v-1 { padding-top:   var(--space-1); padding-bottom: var(--space-1) }
.pad-h-1 { padding-left:  var(--space-1); padding-right:  var(--space-1) }

.pad-2  { padding:       var(--space-2) }
.pad-v-2 { padding-top:   var(--space-2); padding-bottom: var(--space-2) }
.pad-h-2 { padding-left:  var(--space-2); padding-right:  var(--space-2) }

.pad-3  { padding:       var(--space-3) }
.pad-v-3 { padding-top:   var(--space-3); padding-bottom: var(--space-3) }
.pad-h-3 { padding-left:  var(--space-3); padding-right:  var(--space-3) }

.pad-4  { padding:       var(--space-4) }
.pad-v-4 { padding-top:   var(--space-4); padding-bottom: var(--space-4) }
.pad-h-4 { padding-left:  var(--space-4); padding-right:  var(--space-4) }


/*Absolute Utility positions */

.top-100 {
    top: 100%;
}
.top-75 {
    top: 75%;
}
.top-50 {
    top: 50%;
}
.top-25 {
    top: 25%;
}
.bottom-100 {
    bottom: 100%;
}
.bottom-75 {
    bottom: 75%;
}
.bottom-50 {
    bottom: 50%;
}
.bottom-25 {
    bottom: 25%;
}
.left-100 {
    left: 100%;
}
.left-75 {
    left: 75%;
}
.left-50 {
    left: 50%;
}
.left-25 {
    left: 25%;
}
.right-100 {
    right: 100%;
}
.right-75 {
    right: 75%;
}
.right-50 {
    right: 50%;
}
.right-25 {
    right: 25%;
}