@import './variables.css';

/* Cursor Options */
.cursor-pointer { cursor: pointer }
.cursor-default { cursor: default }
.cursor-not-allowed { cursor: not-allowed }

.pointer-events-none { pointer-events: none }
