.textfield {
	composes: primary-gray-border from '../styles.css';
	composes: default-font from '../styles.css';
	width: calc(100% - 10px);
	height: 1.05rem;
	padding: 5px !important; /* !important designation added for conflict with legacy DR UI library styles */
}

.textfieldWrapper {
	composes: default-font from '../styles.css';
	margin: 0 .25rem .25rem 0;
	width: 100%;
}

.label {
	padding: 10px 0 5px 0;
}

.labelFont {
	composes: header-font from '../styles.css';
}

.labelSpacing {
	margin-bottom: 0.35rem;
}

.labelPadding {
	padding-right: 1rem;
}

.leftLabel {
	display: table-cell;
	white-space: nowrap;
	vertical-align: middle;
}

.leftLabelContent {
	display: table-cell;
	width:100%;
}

.small {
	width: 30%;
}

.medium {
	width: 60%;
}

.large {
	width: 90%;
}

.active {
	composes: text-input-active from '../styles.css';
}

.invalid {
	composes: text-input-invalid from '../styles.css';
	composes: marg-b-half from '../styles.css';
}
.invalid + span {
	color: #bd0a33;
}

.disabled {
	composes: cursor-not-allowed from '../styles.css';
	pointer-events: none;
	opacity: 0.6;
}

.hidden {
	display: none;
	visibility: hidden;
}

.error_text {
  composes: header-font from '../styles.css';
  color: #BD0A33;
}

.inline {
  display: inline-block;
}

.buttonAlignment {
	margin-left: 5px;
}

.buttonAlignmentRight {
	float: right;
}

.tooltipAlignment {
	margin-left: 5px;
}
.tooltipAlignment.tooltipRight div{
	float: right;
}
