.textfield {
	composes: primary-gray-border from '../styles.css';
	composes: default-font from '../styles.css';
	width: calc(100% - 10px);
	height: 1.05rem;
	padding: 5px !important; /* !important designation added for conflict with legacy DR UI library styles */
}

.textfieldWrapper {
	margin: 0 .25rem .25rem 0;
	width: 100%;
	composes: default-font from '../styles.css';
}

.header {
	padding: 10px 0 5px 0;
}

.headerFont {
	composes: header-font from '../styles.css';
}

.small {
	width: 30%;
}

.medium {
	width: 60%;
}

.large {
	width: 90%;
}

.active {
	composes: text-input-active from '../styles.css';
}

.invalid {
	composes: text-input-invalid from '../styles.css';
	composes: marg-b-half from '../styles.css';
}
.invalid + span {
	color: #bd0a33;
}

.disabled {
	composes: cursor-not-allowed from '../styles.css';
	pointer-events: none;
	background-color: #ccc;
}

.hidden {
	display: none;
	visibility: hidden;
}

.error_text {
  composes: header-font from '../styles.css';
  color: #BD0A33;
}

.inline {
  display: inline-block;
}

.tooltipAlignment {
	margin-left: 5px;
}