{
  "presets": ["es2015", "react", "stage-1"],
  "env": {

   "production": {
      "plugins": [
        [
          "css-modules-transform", {
            "generateScopedName": "ra_[name]__[local]",
            "prepend": [
              "postcss-import",
              "postcss-cssnext"
            ]
          }
        ],
        ["transform-react-remove-statics", {
            "propTypes": true,
            "styleguide": true
        }]
      ]
    }
  }
}
