{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
    "jest": true
  },

  "parser": "babel-eslint",

  "globals": {
    "React": true,
    "Overlay": true
  },

  "plugins": ["babel", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "eslint-config-prettier"
  ],
  "rules": {
    "no-console": 1
  }
}
