.container {
	composes: clearfix from '../styles.css';
}

.input{
	composes: width-100 from '../styles.css';
    composes: left from '../styles.css';
    composes: marg-l-1 from '../styles.css';
    composes: marg-b-2 from '../styles.css';
    composes: relative from '../styles.css';
    composes: block from '../styles.css';
    composes: pad-1 from '../styles.css';
	composes: border-gray from '../styles.css';
	border-width: 1px;
	height: 2.4em;
	box-shadow: none;
	transition: box-shadow 0.3s, border 0.3s;
}

.input:focus {
  border: solid 1px #66afe9;
  outline: none;
  -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.075), 0 0 5px 1px rgba(102, 175, 233, .6);
          box-shadow: 0 0 5px 1px rgba(0,0,0,.075), 0 0 5px 1px rgba(102, 175, 233, .6);
}

.checkbox {
	composes: marg-b-1 from '../styles.css';
	position: relative;
    top: 1px;
}

.placeholder {
	padding: 0 .75em 0 .75em;
}

.error {
	composes: input;
	composes: red from '../styles.css';
}

.label {
	composes: inline-block from '../styles.css';
	composes: marg-b-1 from '../styles.css';
	composes: pad-h-1 from '../styles.css';
	font-weight: 500;
}
