.input{
	composes: width-100 left marg-l-1 marg-b-2 relative block pad-1 from '../styles.css';
	composes: border-gray from '../styles.css';
	border-width: 1px;
	height: 2.4em;
	appearance: none;
	box-shadow: none;
	transition: box-shadow 0.3s, border 0.3s;
}

.input:focus{
  border: solid 1px #66afe9;
  outline: none;
  -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.075), 0 0 5px 1px rgba(102, 175, 233, .6);
          box-shadow: 0 0 5px 1px rgba(0,0,0,.075), 0 0 5px 1px rgba(102, 175, 233, .6);
}

.placeholder{
	padding: 0 .75em 0 .75em;
}

.error{
	composes: input;
	composes: red from '../styles.css';
}

.label{
	composes: inline-block marg-b-1 pad-h-1 from '../styles.css';
	font-size: 0.9rem;
	font-weight: 500;
	color: #777;
}