.base {
  composes: rounded from '../styles.css';
  composes: border from '../styles.css';
  composes: pad-2 from '../styles.css';
  composes: bg-white from '../styles.css';
  display: flex;
  flex-direction: column;
  max-width: 96%;
  max-height: 96%;
  box-shadow: 0 19px 60px rgba(0,0,0,0.30), 0 15px 20px rgba(0,0,0,0.22);
  transition-delay: .07s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .35s;
  transition-property: opacity, transform;
}

.inactive {
  composes: base;
  opacity: 0;
  transform: translateY(-4rem);
}

.active {
  composes: base;
  opacity: 1;
  transform: translateY(0%);
}

.small {
  width: 30vw;
}

.normal {
  width: 50vw;
}

.large {
  width: 96vw;
}


.body {
  composes: pad-2 from '../styles.css';
  composes: gray from '../styles.css';
  flex-grow: 2;
  overflow-y: auto;
}


