.base {
    composes: marg-b-1 from '../styles.css';
}

.block {
    composes: base;
    display: block;
}

.inline {
    composes: base;
    dispaly: inline-block;
}

.disabled {
    composes: gray from '../styles.css';
}

.label {
    composes: marg-l-1 from '../styles.css';
}

.input {
    position: relative;
    top: 1px;
}