.tabContent {
    composes: pad-v-2 from '../styles.css';
    composes: pad-h-2 from '../styles.css';
    display: flex;
    flex-direction: column;
}
.tabActive {
    display: block;
}
.tabContent:not(.tabActive){
    display: none;
}
