@import '../styles/variables.css';
/* :global is needed for some classes to bypass */
:global .dropdown-menu{
  background-color: red;
}

:global .react-bs-table .column:hover {
  background-color: #E6E6E6;
}

:global .dropdown-menu li a {
  color: white;
}

:global #pageDropDown{
  background-color: red;
  color: white;
}

:global .order{
  background: red;
}

:global .react-bs-table-pagination .pagination > li {
    display: inline;
}

:global .react-bs-table-pagination .pagination > li > a {
    position: relative;
    float: left;
    padding: 1px 13px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left: -1px;
}

:global .react-bs-table-pagination .pagination > li:first-child > a {
    margin-left: 0;
}

:global .react-bs-table-pagination .pagination > li > a:hover,
:global .react-bs-table-pagination .pagination > li > a:focus {
    z-index: 3;
    color: #23527c;
    background-color: #eeeeee;
    border-color: #ccc;
}

:global .react-bs-table-pagination .pagination > .active > a,
:global .react-bs-table-pagination .pagination > .active > a:hover,
:global .react-bs-table-pagination .pagination > .active > a:focus {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

:global .react-bs-table-sizePerPage-dropdown {
    display: none;
}

:global .react-bs-table {
    margin: 5px 10px 5px 10px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    outline: none !important;
    font-family: var(--font-family);
}

:global .react-bs-table table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
}

:global .react-bs-table table th,
:global .react-bs-table table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom-width: 2px;
    font-size: 14px;
}

:global .react-bs-container-header {
    overflow: hidden;
    width: 100%;
    background-color: #4D4D4D;
    color: #FFFFFF;
}

:global .react-bs-container-header table th {
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

:global .react-bs-container-header .sort-column .dropup .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    content: "";
}

:global .react-bs-table-container .react-bs-table-search-form {
  margin-bottom: 0;
}

:global .react-bs-table-search-form {
  margin-bottom: .5em;
  margin-right: .75em;
  float: right;
}

:global .react-bs-table table {
  margin-bottom: 0;
  table-layout: fixed;
}

:global .react-bs-table table td,
:global .react-bs-table table th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
}

:global .react-bs-table-tool-bar {
  font-family: var(--font-family);
  margin-bottom: 5px;
}

:global .react-bs-container-body {
  /*height: 154px;*/
  overflow: auto;
  width: 100%;
}

:global .react-bootstrap-table-page-btns-ul {
  float: right;
  /* override the margin-top defined in .pagination class in bootstrap. */
  margin-top: 0;
}

:global .react-bs-table .table-bordered {
    border: 0;
    outline: none !important;
}

:global .react-bs-table .table-bordered > thead > tr > th,
:global .react-bs-table .table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

:global .react-bs-table .table-bordered > tbody > tr > td {
  outline: none !important;
}

:global .react-bs-table .table-bordered > tbody > tr > td.default-focus-cell {
  outline: 3px solid cornflowerblue !important;
  outline-offset: -1px;
}

/*Left*/
:global .react-bs-table .table-bordered > thead > tr > th:first-child,
:global .react-bs-table .table-bordered > tbody > tr > th:first-child,
:global .react-bs-table .table-bordered > tfoot > tr > th:first-child,
:global .react-bs-table .table-bordered > thead > tr > td:first-child,
:global .react-bs-table .table-bordered > tbody > tr > td:first-child,
:global .react-bs-table .table-bordered > tfoot > tr > td:first-child {
  border-left-width: 0;
}

/*Right*/
:global .react-bs-table .table-bordered > thead > tr > th:last-child,
:global .react-bs-table .table-bordered > tbody > tr > th:last-child,
:global .react-bs-table .table-bordered > tfoot > tr > th:last-child,
:global .react-bs-table .table-bordered > thead > tr > td:last-child,
:global .react-bs-table .table-bordered > tbody > tr > td:last-child,
:global .react-bs-table .table-bordered > tfoot > tr > td:last-child {
  border-right-width: 0;
}

:global .react-bs-container-body table td {
    border: 0;
    border-top: 1px solid #ccc;
    outline: none !important;
    padding-left: .8em;
}

:global .col-lg-6 {
    width: 50%;
    float: left;
}

:global .react-bs-table-pagination {
    font-family: var(--font-family);
    margin: 10px;
    height: 20px;
}

:global .react-bs-container-header .sort-column {
    cursor: pointer;
}

:global .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

:global .react-bs-table-search-form input {
  font-family: var(--font-family);
}

:global .react-bs-table-bordered .react-bs-container-header {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: none;
  border-radius: 0px 0px 0px 0px;
}
:global .react-bs-table-bordered .react-bs-container-body {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: none;
  border-radius: 0px 0px 0px 0px;

}

:global .react-bs-table .table-bordered > tfoot > tr > th,
:global .react-bs-table .table-bordered > tfoot > tr > td {
  border-top-width: 2px;
  border-bottom-width: 0;
}

/*Top*/
:global .react-bs-table .table-bordered > thead > tr:first-child > th,
:global .react-bs-table .table-bordered > thead > tr:first-child > td {
  border-top-width: 0;
}

/*Bottom*/
:global .react-bs-table .table-bordered > tfoot > tr:last-child > th,
:global .react-bs-table .table-bordered > tfoot > tr:last-child > td {
  border-bottom-width: 0;
}

:global .react-bs-table .react-bs-container-header > table > thead > tr > th {
  vertical-align: middle;
  padding-left: .8em;
}

:global .react-bs-table .react-bs-container-header > table > thead > tr > th .filter{
  font-weight: normal;
}

:global .react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter option[value=''],
:global .react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter.placeholder-selected,
:global .react-bs-table .react-bs-container-header > table > thead > tr > th .filter::-webkit-input-placeholder,
:global .react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-input::-webkit-input-placeholder{
  color: lightgrey;
  font-style: italic;
}

:global .react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter.placeholder-selected option:not([value='']) {
  color: initial;
  font-style: initial;
}

:global .react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter,
:global .react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter {
  display: flex;
}

:global .react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-input,
:global .react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter-input {
  margin-left: 5px;
  float: left;
  width: calc(100% - 67px - 5px);
}

:global .react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-comparator,
:global .react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter-comparator {
  width: 67px;
  float: left;
}

:global .react-bs-table .react-bs-container-header .sort-column {
  cursor: pointer;
}

/*inline editor default style*/
:global .react-bs-container .form-control.editor{
  /*width:100%;
  top:0;
  left:0;*/
  /*height: 100%;
  position: absolute;*/
}

:global .react-bs-container  .textarea-save-btn{
  position: absolute;
  z-index: 100;
  right: 0;
  top: -21px;
}

:global .react-bs-table-no-data {
  text-align: center;
}


:global .ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

:global .ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

:global .ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

:global .ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

:global .ReactModal__Overlay--before-close {
  opacity: 0;
}

:global .ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

:global .ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}

/*error tip style*/
:global .animated {
  animation-fill-mode: both;
}

:global .animated.bounceIn,
:global .animated.bounceOut{
  animation-duration: .75s;
}

:global .animated.shake{
  animation-duration: .3s;
}

:global td.react-bs-table-expand-cell {
    cursor: pointer;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%,  50%,  90% {
    transform: translate3d(-10px, 0, 0);
  }

  30%, 70%{
    transform: translate3d(10px, 0, 0);
  }
}

:global .shake {
  animation-name: shake;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

:global .bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  animation-name: bounceOut;
}

:global .input_container { position:relative; padding:0; margin:0; }

:global .magnifying-glass
{
 font-size: 1.2em; /* This controls the size. */
 display: inline-block;
 width: 0.4em;
 height: 0.4em;
 border: 0.1em solid #333333;
 position: relative;
 border-radius: 0.35em;
}

:global .magnifying-glass::before
{
 content: "";
 display: inline-block;
 position: absolute;
 right: -0.25em;
 bottom: -0.1em;
 border-width: 0;
 background: #333333;
 width: 0.35em;
 height: 0.08em;
 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}

:global .form-control {
  height:20px;
  margin:0 0 10px 0;
  padding-left: 5px;
  border: solid 1px #ccc;
}

:global .form-control:hover {
  border: solid 1px #66afe9;
  outline: none;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.05), 0 0 3px 1px rgba(102, 175, 233, .4);
          box-shadow: 0 0 1px 1px rgba(0,0,0,.05), 0 0 3px 1px rgba(102, 175, 233, .4);
}
