@import '../styles/variables.css';

.label {
	composes: header-font from '../styles.css';
}

.defaultFont {
	composes: default-font from '../styles.css';
}

.bodyFont {
	composes: body-font from '../styles.css';
}

.header {
	composes: header-font from '../styles.css';
	font-weight: 500;
	line-height: 1;
	display: block;
}

.h1 {
	composes: header;
	font-size: 52px;
	margin: 0 0 13.5px;
}

.h2 {
	composes: header;
	font-size: 42px;
	margin: 0 0 13.5px;
}

.h3 {
	composes: header;
	font-size: 35px;
	margin: 0 0 13.5px;
}

.h4 {
	composes: header;
	font-size: 26px;
	margin: 0 0 6.75px;
}

.h5 {
	composes: header;
	font-size: 21px;
	margin: 0 0 6.75px;
}

.h6 {
	composes: header;
	font-size: 19px;
	margin: 0 0 6.75px;
}

.small {
	composes: dark-gray from '../styles.css';
	font-size:65%;
}

.link {
	composes: sky-blue from '../styles.css';
	text-decoration: none;
}

.link:hover {
  color: var(--secondary);
}

.code {
	composes: red from '../styles.css';
    composes: bg-silver from '../styles.css';
    composes: pad-h-0-25 from '../styles.css';
}

.blockquote {
	padding: var(--space-1-1) var(--space-2);
	composes: pad-v-1 from '../styles.css';
	composes: pad-h-2 from '../styles.css';
    margin: 0 0 var(--space-2);
    font-size: var(--header-font-size);
    border-left: 5px solid var(--silver);
}