/*Main Styles*/
.root{
  composes: btn from '../basscss.css';
}

.default_btn {
  composes: root;
  composes: btn-primary from '../basscss.css'
}

.outline {
  composes: root;
  composes: btn-outline from '../basscss.css';
}

//default button variant
.primary {
  composes: default_btn;
  composes: bg-blue from '../basscss.css';
}

.success {
  composes: default_btn;
  composes: bg-green from '../basscss.css';
}

.warning {
  composes: default_btn;
  composes: bg-orange from '../basscss.css';
}

.danger {
  composes: default_btn;
  composes: bg-red from '../basscss.css';
}

.link {
  composes: default_btn;
  composes: blue from '../basscss.css';
  border-color: transparent;
  background-color: transparent;
  border-radius: 0;
  &:hover, &.active {
    text-decoration: underline;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
  }
}

/*Outline styles*/

.primary_outline {
  composes: outline;
  composes: blue from '../basscss.css';
}

.secondary {
  composes: outline;
  composes: gray from '../basscss.css';
  background-color: transparent;
}

.secondary_outline {
  composes: outline;
  composes: gray from '../basscss.css';
}

.success_outline {
  composes: outline;
  composes: green from '../basscss.css';
}

.warning_outline {
  composes: outline;
  composes: orange from '../basscss.css';
}

.danger_outline {
  composes: outline;
  composes: red from '../basscss.css';
}

.link_outline {
  composes: outline;
  composes: blue from '../basscss.css';
  background-color: transparent;
}

.disabled {
  cursor: not-allowed;
  opacity: .65;
  pointer-events: none;
  text-decoration: none;
}

/*button sizes*/
.large {
  composes: root;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.333333;
  border-radius: .3rem;
}

.small {
  composes: root;
  padding: .25rem .75rem;
  font-size: .85rem;
  line-height: 1.5;
  border-radius: .2rem;
}

/*block style*/
.block {
    display: block;
    width: 100%;
}
