.root {
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid #0275d8;
  border-radius: .25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0;
  -webkit-appearance: button;
  text-transform: none;
  color: #fff;
  background-color: #0275d8;
  &:hover {
    background-color: #025aa5;
    border-color: #01549b;
  }
}

/*Main Styles*/

.secondary {
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
  &:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
  &:hover {
    background-color: #449d44;
    border-color: #419641;
  }
}

.warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  &:hover {
    background-color: #ec971f;
    border-color: #eb9316;
  }
}

.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
  &:hover {
    background-color: #c9302c;
    border-color: #c12e2a;
  }
}

.link {
  border-color: transparent;
  background-color: transparent;
  font-weight: 400;
  color: #0275d8;
  border-radius: 0;
  &:hover {
    color: #014c8c;
    text-decoration: underline;
    border-color: transparent;
    background-color: transparent;
  }
}

/*Outline styles*/

.primary_outline {
  color: #0275d8;
  background-color: transparent;
  border-color: #0275d8;
  &:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
}

.secondary_outline {
  color: #ccc;
  background-color: transparent;
  border-color: #ccc;
  &:hover {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
  }
}

.success_outline {
  color: #5cb85c;
  background-color: transparent;
  border-color: #5cb85c;
  &:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
}

.warning_outline {
  color: #f0ad4e;
  background-color: transparent;
  border-color: #f0ad4e;
  &:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }
}

.danger_outline {
  color: #d9534f;
  background-color: transparent;
  border-color: #d9534f;
  &:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
  }
}

.link_outline {
  color: #0275d8;
  background-color: transparent;
  border-color: #0275d8;
  &:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
}

/*button sizes*/
.large {
    padding: .75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.333333;
    border-radius: .3rem;
}

.small {
    padding: .25rem .75rem;
    font-size: .85rem;
    line-height: 1.5;
    border-radius: .2rem;
}

/*block style*/
.block {
    display: block;
    width: 100%;
}