/*colors*/
/*primary*/
$primary: #0275d8;
$primary-active: darken($primary, 10%);
$primary-active-border: darken($primary, 12%);
/*secondary*/
$secondary: #373a3c;
$secondary-border: #ccc;
$secondary-active: #e6e6e6;
$secondary-active-border: #adadad;
/*success*/
$success: #5cb85c;
$success-active: darken($success, 10%);
$success-active-border: darken($success, 12%);
/*warning*/
$warning: #f0ad4e;
$warning-active: darken($warning, 10%);
$warning-active-border: darken($warning, 12%);
/*danger*/
$danger: #d9534f;
$danger-active: darken($danger, 10%);
$danger-active-border: darken($danger, 10%);
/*link*/
$link: #0275d8;
$link-active: #014c8c;

/*Main button formatting*/

.root {
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid $primary;
  border-radius: .25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0;
  text-transform: none;
  color: #fff;
  background-color: $primary;
  &:hover, &.active {
    background-color: $primary-active;
    border-color: $primary-active-border;
  }
}

/*Main Styles*/

.secondary {
  color: $secondary;
  background-color: #fff;
  border-color: $secondary-border;
  &:hover, &.active {
    background-color: $secondary-active;
    border-color: $secondary-active-border;
  }
}

.success {
  color: #fff;
  background-color: $success;
  border-color: $success;
  &:hover, &.active {
    background-color: $success-active;
    border-color: $success-active-border;
  }
}

.warning {
  color: #fff;
  background-color: $warning;
  border-color: $warning;
  &:hover, &.active {
    background-color: $warning-active;
    border-color: $warning-active-border;
  }
}

.danger {
  color: #fff;
  background-color: $danger;
  border-color: $danger;
  &:hover, &.active {
    background-color: $danger-active;
    border-color: $danger-active-border;
  }
}

.link {
  border-color: transparent;
  background-color: transparent;
  font-weight: 400;
  color: $primary;
  border-radius: 0;
  &:hover, &.active {
    color: $link-active;
    text-decoration: underline;
    border-color: transparent;
    background-color: transparent;
  }
}

/*Outline styles*/

.primary_outline {
  color: $primary;
  background-color: transparent;
  border-color: $primary;
  &:hover, &.active {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }
}

.secondary_outline {
  color: $secondary-border;
  background-color: transparent;
  border-color: $secondary-border;
  &:hover, &.active {
    color: #fff;
    background-color: $secondary-border;
    border-color: $secondary-border;
  }
}

.success_outline {
  color: $success;
  background-color: transparent;
  border-color: $success;
  &:hover, &.active {
    color: #fff;
    background-color: $success;
    border-color: $success;
  }
}

.warning_outline {
  color: $warning;
  background-color: transparent;
  border-color: $warning;
  &:hover, &.active {
    color: #fff;
    background-color: $warning;
    border-color: $warning;
  }
}

.danger_outline {
  color: $danger;
  background-color: transparent;
  border-color: $danger;
  &:hover, &.active {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
  }
}

.link_outline {
  color: $link;
  background-color: transparent;
  border-color: $link;
  &:hover, &.active {
    color: #fff;
    background-color: $link;
    border-color: $link;
  }
}

.disabled{
  cursor: not-allowed;
  opacity: .65;
  pointer-events: none;
  text-decoration: none;
}

/*button sizes*/
.large {
    padding: .75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.333333;
    border-radius: .3rem;
}

.small {
    padding: .25rem .75rem;
    font-size: .85rem;
    line-height: 1.5;
    border-radius: .2rem;
}

/*block style*/
.block {
    display: block;
    width: 100%;
}