/*colors*/
/*primary*/
@value primary: #0275d8;
@value primary-active: #025aa5;
@value primary-active-border: #01549b;
/*success*/
@value success: #5cb85c;
@value success-active: #449d44;
@value success-active-border: #419641;
/*warning*/
@value warning: #f0ad4e;
@value warning-active: #ec971f;
@value warning-active-border: #eb9316;
/*danger*/
@value danger: #d9534f;
@value danger-active: #c9302c;
@value danger-active-border: #c12e2a;
/*link*/
@value link: #0275d8;
@value link-active: #014c8c;


/*Main button formatting*/

.root {
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid primary;
  border-radius: .25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0;
  -webkit-appearance: button;
  text-transform: none;
  color: #fff;
  background-color: primary;
  &:hover, &.active {
    background-color: primary-active;
    border-color: primary-active-border;
  }
}

/*Main Styles*/

.secondary {
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
  &:hover, &.active {
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.success {
  color: #fff;
  background-color: success;
  border-color: success;
  &:hover, &.active {
    background-color: success-active;
    border-color: success-active-border;
  }
}

.warning {
  color: #fff;
  background-color: warning;
  border-color: warning;
  &:hover, &.active {
    background-color: warning-active;
    border-color: warning-active-border;
  }
}

.danger {
  color: #fff;
  background-color: danger;
  border-color: danger;
  &:hover, &.active {
    background-color: danger-active;
    border-color: danger-active-border;
  }
}

.link {
  border-color: transparent;
  background-color: transparent;
  font-weight: 400;
  color: primary;
  border-radius: 0;
  &:hover, &.active {
    color: link-active;
    text-decoration: underline;
    border-color: transparent;
    background-color: transparent;
  }
}

/*Outline styles*/

.primary_outline {
  color: primary;
  background-color: transparent;
  border-color: primary;
  &:hover, &.active {
    color: #fff;
    background-color: primary;
    border-color: primary;
  }
}

.secondary_outline {
  color: #ccc;
  background-color: transparent;
  border-color: #ccc;
  &:hover, &.active {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
  }
}

.success_outline {
  color: success;
  background-color: transparent;
  border-color: success;
  &:hover, &.active {
    color: #fff;
    background-color: success;
    border-color: success;
  }
}

.warning_outline {
  color: warning;
  background-color: transparent;
  border-color: warning;
  &:hover, &.active {
    color: #fff;
    background-color: warning;
    border-color: warning;
  }
}

.danger_outline {
  color: danger;
  background-color: transparent;
  border-color: danger;
  &:hover, &.active {
    color: #fff;
    background-color: danger;
    border-color: danger;
  }
}

.link_outline {
  color: link;
  background-color: transparent;
  border-color: link;
  &:hover, &.active {
    color: #fff;
    background-color: link;
    border-color: link;
  }
}

/*button sizes*/
.large {
    padding: .75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.333333;
    border-radius: .3rem;
}

.small {
    padding: .25rem .75rem;
    font-size: .85rem;
    line-height: 1.5;
    border-radius: .2rem;
}

/*block style*/
.block {
    display: block;
    width: 100%;
}