.task {
	display: inline-block;
	text-align: center;
	position: relative;
}

.taskLink {
	composes: default-font from '../styles.css';
  	font-size: 19px;
	color: #666666;
	line-height: 27px;
	text-decoration:none;
	padding-right: 45px;
	padding-left: 45px;
	padding-top: 11.5px;
	padding-bottom: 11.5px;
	display: inline-block;
	cursor: pointer;
}

.taskLink:hover {
	color: #00A7E1;
}

.selected {
	color: #00A7E1;
	cursor: default;
}

.borderTop {
	border-top: solid 1px #E9E9E9;
}

.icon-left {
  margin-right: 0.25rem;
  vertical-align: middle;
}