.task {
	display: inline-block;
	text-align: center;
	position: relative;
}

.taskLink {
	composes: default-font from '../styles.css';
	composes: dark-gray from '../styles.css';
  	font-size: 19px;
	line-height: 27px;
	text-decoration:none;
	padding-right: 45px;
	padding-left: 45px;
	padding-top: 11.5px;
	padding-bottom: 11.5px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	position: relative;
}

.taskLink:hover {
	color: #00a7e1;
}

.selected {
	composes: primary-blue from '../styles.css';
	cursor: default;
}

.borderTop {
	composes: taskbar-border-top from '../styles.css';
}

.icon-left {
  	margin-right: 0.25rem;
  	vertical-align: middle;
}