@import './variables.css';

/* Cursor Options */
.cursor-pointer { cursor: pointer }
.cursor-default { cursor: default }
.cursor-not-allowed { cursor: not-allowed }

.opacity-0 { opacity: 0;-moz-opacity: 0;-webkit-opacity: 0;-o-opacity: 0; }

.text-input-active { 
	box-shadow: inset 0 0 4px 1px rgba(0,167,225,.3), 0 0 0 1px rgba(0,167,225,.7);
	border-color: rgba(0, 167, 225, 0.6);
	outline: none; 
}

.text-input-invalid { 
	box-shadow: 0 0 4px #bd0a33;
	border-color: rgba(189, 10, 51, 0.6); 
}

.silver-to-white-gradient {
	background: white;
	background: -webkit-linear-gradient(#ffffff, #e6e6e6);
	background: -o-linear-gradient(#ffffff, #e6e6e6);
	background: -moz-linear-gradient(#ffffff, #e6e6e6);
	background: linear-gradient(#ffffff, #e6e6e6);
}

.white-inset-shadow {
	box-shadow: inset 0px 0px 0px 3px white;
	-webkit-box-shadow: inset 0px 0px 0px 3px white;
	-moz-box-shadow: inset 0px 0px 0px 3px white;
	-o-box-shadow: inset 0px 0px 0px 3px white;
}