@import './variables.css';
/* Utility Typography */
.default-font { 
	font-family: var(--font-family);
	font-size: var(--font-size);
 }
.body-font {
	font-family: var(--body-font-family);
	font-size: var(--font-size);
}
.header-font { 
	font-family: var(--heading-font-family);
	font-size: var(--header-font-size);
	font-weight: var(--heading-font-weight);
	color: var(--secondary);
}
.bold    { font-weight: var(--bold-font-weight, bold) }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: .2em; }


/* Font-size Utility */
.font-size-1 { font-size: var(--h1, 2rem) }
.font-size-2 { font-size: var(--h2, 1.5rem) }
.font-size-3 { font-size: var(--h3, 1.25rem) }
.font-size-4 { font-size: var(--h4, 1rem)}
.font-size-5 { font-size: var(--h5, .875rem) }
.font-size-6 { font-size: var(--h6, .75rem) }
.font-size-7 { font-size: .5rem }
.font-size-8 { font-size: .25rem }