.slider {
  overflow:hidden;
  cursor:pointer;
  background: #d8d9db;
  display: block;
  position:relative;
  z-index:1;
}

.sliderSmall{
  composes: slider;
  width: 42px;
  height: 19.2px;
  margin: 12px;
  border-radius: 12px;
}

.sliderMedium{
  composes: slider;
  width: 70px;
  height:32px;
  margin: 20px;
  border-radius: 20px;
}

.sliderLarge{
  composes: slider;
  width: 105px;
  height: 48px;
  margin: 30px;
  border-radius: 30px;
}

.handle {
  border-radius: 50%;
  background: white;
  display:block;
  position:absolute;
  top: 0px;
  left:0px;
  box-shadow: 0 0 6px 3px rgba(0,0,0,0.3);
  transition:left 0.2s;
}

.handleSmall{
  composes: handle;
  width: 19.2px;
  height: 19.2px;
}

.handleMedium{
  composes: handle;
  width: 32px;
  height: 32px;
}

.handleLarge{
  composes: handle;
  width: 48px;
  height: 48px;

}

.input {
    display:none;
}

/*
  Distance the button translates left to right
*/

.inputSmall:checked + .handle{
    left:24px;
}
.inputMedium:checked + .handle{
    left:40px;
}
.inputLarge:checked + .handle{
    left:60px;
}

.inputSmall:checked + .handle::before {
    content: " ";
    display:block;
    background:#4cd864;
    position: absolute;
    z-index:-1;
    transition:left 0.2s;
    left: -70px;
 }

.inputMedium:checked + .handle::before {
    content: " ";
    display:block;
    background:#4cd864;
    position: absolute;
    z-index:-1;
    transition:left 0.2s;
    left: -70px;
 }

 .inputLarge:checked + .handle::before {
    content: " ";
    display:block;
    background:#4cd864;
    position: absolute;
    z-index:-1;
    transition:left 0.2s;
    left: -70px;
 }
.inputSmall{
  composes: input;
    width: 48px;
    height: 19.2px;
}

.inputMedium{
  composes: input;
    width: 80px;
    height: 32px;
}

.inputLarge{
  composes: input;
    width: 120px;
    height: 48px;
}
