/*
  The circle
*/

.slider {
  overflow:hidden;
  cursor:pointer;
  background: #d8d9db;
  display: block;
  position:relative;
  z-index:1;
}

.sliderSmall{
  composes: slider;
  width: 42px;
  height: 19.2px;
  margin: 12px;
  border-radius: 12px;
}

.sliderMedium{
  composes: slider;
  width: 70px;
  height:32px;
  margin: 20px;
  border-radius: 20px;
}

.sliderLarge{
  composes: slider;
  width: 105px;
  height: 48px;
  margin: 30px;
  border-radius: 30px;
}

/*
  the off color
*/
.handle {
  border-radius: 50%;
  background: white;
  display:block;
  position:absolute;
  top: 0px;
  left:0px;
  box-shadow: 0 0 6px 3px rgba(0,0,0,0.3);
  transition:left 0.2s;
}

.handleSmall{
  composes: handle;
  width: 19.2px;
  height: 19.2px;
}

.handleMedium{
  composes: handle;
  width: 32px;
  height: 32px;
}

.handleLarge{
  composes: handle;
  width: 48px;
  height: 48px;

}

.input {
    display:none;
}

/*
  Distance the button translates left to right
*/

.inputSmall:checked + .handle{
    left:24px;
}
.inputMedium:checked + .handle{
    left:40px;
}
.inputLarge:checked + .handle{
    left:60px;
}

/*
  On color
*/

.input:checked + .handleSmall::before{
    content: " ";
    display:block;
    background:#4cd864;
    position: absolute;
    z-index:-1;
    transition:left 0.2s;
    left: -70px;
    width: 80px;
    height: 19.2px;
 }

.input:checked + .handleMedium::before{
    content: " ";
    display:block;
    background:#4cd864;
    position: absolute;
    z-index:-1;
    transition-property:left 0.2s;
    transition-timing-function: linear;
    left: -70px;
    width: 80px;
    height: 32px;
 }

 .input:checked + .handleLarge::before{
    content: " ";
    display:block;
    background:#4cd864;
    position: absolute;
    z-index:-1;
    transition: left 0.2s;
    left: -70px;
    width: 100px;
    height: 48px;
 }

.inputSmall{
  composes: input;
}

.inputMedium{
  composes: input;
}

.inputLarge{
  composes: input;
}

/*
  background green
*/

.backg{
  display: none;
}

.backg:checked + .handle{
    left:40px;
}

.backg:checked + .handle::before{
    content: " ";
    display:block;
    background:#4cd864;
    position: absolute;
    z-index:-1;
    transition:left 0.2s;
    left: -70px;
    width: 80px;
    height: 32px;
}

/*
  colors
*/

.black{
  composes: bg-black from '../styles.css';
}

.gray{
  composes: bg-gray from '../styles.css';
}

.silver{
  composes: bg-silver from '../styles.css';
}

.white{
  composes: bg-white from '../styles.css';
}

.blue{
  composes: bg-blue from '../styles.css';
}

.green{
  composes: bg-green from '../styles.css';
}

.yellow{
  composes: bg-yellow from '../styles.css';
}

.red{
  composes: bg-red from '../styles.css';
}

.purple{
  composes: bg-purple from '../styles.css';
}