.base {
  composes: relative from '../styles/layout.css';
}

.tooltip {
  composes: absolute block pad-1 marg-t-1 marg-b-1 top-100 left-50 from '../styles/layout.css';
  composes: bold from '../styles/typography.css';
  composes: white bg-gray from '../styles/colors.css';
  z-index: 200;
  max-width: 17rem;
  line-height: 1.4rem;
  border-radius: .2rem;
  transition:  cubic-bezier(0.4, 0, 0.2, 1) .06s transform;
  transform: scale(0) translateX(-50%);
  transform-origin: top left;
  text-transform: none;
}
.active {
  transform: scale(1) translateX(-50%);
}
