.taskbar {
	width: 100%;
	border-radius: 2px;
	min-height: 50px;
	margin-bottom: 27px;
	border-top: solid 1px;
	border-top-color: var(--primary-gray);
	border-bottom: solid 1px;
	border-bottom-color: var(--primary-gray);
}

.taskbarContainer {
	padding: 0 20px;
}

.center {
	text-align: center;
}