.list {
  composes: relative from '../styles.css';
  composes: inline-block from '../styles.css';
  composes: width-100 from '../styles.css';
  composes: pad-v-1 from '../styles.css';
  composes: pad-h-0 from '../styles.css';
  composes: left-align from '../styles.css';
  composes: nowrap from '../styles.css';
  composes: list-style-none from '../styles.css';
}

.item {
  composes: border from '../styles.css';
  composes: first-child-rounded from '../styles.css';
  composes: last-child-rounded from '../styles.css';
  composes: pad-v-1 from '../styles.css';
  composes: pad-h-2 from '../styles.css';
  composes: flex from '../styles.css';
  composes: relative from '../styles.css';
  composes: overflow-hidden from '../styles.css';
  composes: flex-center from '../styles.css';
  composes: marg-b-less-1px from '../styles.css';
  composes: border-silver from '../styles.css';
}

.text {
  composes: marg-h-2 from '../styles.css';
  flex-grow: 1;

}
