.base {
    composes: clearfix from '../styles.css';
    composes: block from '../styles.css';
    composes: marg-t-1 from '../styles.css';
    composes: font-size-6 from '../styles.css';
    composes: gray from '../styles.css';
    composes: white-space-normal from '../styles.css';
}