.button {
  composes: default_btn from '../button.css';
  composes: border-none from '../../styles.css';
  composes: blue from '../../styles.css';
  composes: border-transparent from '../../styles.css';
  background-color: transparent;
}

.button_outline {
  composes: outline from '../button.css';
  composes: blue from '../../styles.css';
  composes: bg-transparent from '../../styles.css';
  composes: hover-bg-blue from '../../styles.css';
  composes: hover-white from '../../styles.css';
}

.disabled {
  composes: cursor-not-allowed from '../../styles.css';
  text-decoration: none;
  pointer-events: none;
  opacity: .65;
}
