@import '../styles/variables.css';

.tabPanel {
  display: none;
}

.selected {
  display: block;
}

.bordered {
  border: 1px solid #BEBEBE;
  border-top: none;
  padding: 1rem;
}

.vertical {
  flex-grow: 8;
  border: 1px solid #BEBEBE;
  border-left: none;
  padding: 1rem;
}