
.container {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 0;
    display: block;
    width: 24rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    background-color: rgb(250,250,250);
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .35s;
    transition-property: transform;
    transform-style: preserve-3d;
    will-change: transform;
}
.active {
    pointer-events: all;
    transition-delay: .07s;
    transform: translateX(0);
}
.right {
    right: 0;
    border-left: 1px solid rgb(224,224,224);
}
.right:not(.active) {
    transform: translateX(100%);
}


.left {
    left: 0;
    border-right: 1px solid rgb(224,224,224);
}
.left:not(.active) {
    transform: translateX(-100%);
}

