.breadcrumbItem {
    display: inline-flex;
    align-items: center;
}

.breadcrumbItem + .breadcrumbItem:before {
    content: "/ ";
    padding: 0 5px;
    color: #ccc;
}

.breadcrumbItem.active {
    color: #777;
}