.accordion {
    composes: default-border from '../styles.css';
    composes: border-bottom-none from '../styles.css';
    composes: bg-white from '../styles.css';
    composes: default-text from '../styles.css';
    composes: default-font from '../styles.css';
    cursor: default;
}
.disabled {
    composes: cursor-not-allowed from '../styles.css';
    opacity: 0.6;
}
.accordion_header {
    composes: marg-0  from '../styles.css';
    composes: cursor-pointer from '../styles.css';
    composes: default-border-bottom from '../styles.css';
    composes: default-border-left from '../styles.css';
    composes: border-top-none from '../styles.css';
    composes: border-right-none from '../styles.css';
    composes: header-font from '../styles.css';
    composes: pad-h-2 from '../styles.css';
    line-height: 1.5rem;
    vertical-align: middle;
    text-align: left;
}
.rightAlign {
    text-align: right;
    composes: pad-h-2 from '../styles.css';
}
.centerAlign {
    text-align: center;
}
.header-active {
    composes: bg-primary from '../styles.css';
    composes: white from '../styles.css';
}
.header-inactive {
    composes: bg-silver from '../styles.css';
}
.hover {
    composes: bg-gray from '../styles.css' !important;
    composes: white from '../styles.css';
}
.panel {
    display: none;
    padding-left: 0rem;
    padding-right: 0rem;
}
.active {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    max-height: 100%;
    opacity: 1;
    padding: 1rem 0rem 1rem 0rem;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
    transition-timing-function: ease-in;
}
.active .panel {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.inactive {
    max-height: 0;
    padding: 0rem;
    opacity: 0;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
}

.expandAll {
    composes: marg-b-1 from '../styles.css';
    composes: primary-text from '../styles.css';
    composes: default-font from '../styles.css';
    cursor: pointer;
}
.expandAll:hover {
    text-decoration: underline;
}