.textarea {
	composes: primary-gray-border from '../styles.css';
	width: 100%;
	padding: 5px;
	resize: none;
	transition: all 200ms ease-out;
}

.textareaWrapper {
	/* 1% difference is textarea inner padding */
	width: 99%;
	composes: default-font from '../styles.css';
	composes: default-font from '../styles.css';
}

.small {
	width: 30%;
}

.medium {
	width: 60%;
}

.large {
	width: 90%;
}

.resizable {
	resize: vertical;
}

.remainingCount {
	color: #999;
	position: relative;
	text-align: right;
	left: 12px;
}

.active {
	composes: text-input-active from '../styles.css';
}

.header {
	padding-bottom: 5px;
}

.headerFont {
	composes: header-font from '../styles.css';
}

.invalid {
	composes: text-input-invalid from '../styles.css';
}

.invalid + span {
	color: #bd0a33;
	float: left;
}

.disabled {
	composes: cursor-not-allowed from '../styles.css';
	pointer-events: none;
	opacity: 0.6;
}

.hidden {
	display: none;
	visibility: hidden;
}

.error_text {
  composes: header-font from '../styles.css';
  color: #BD0A33;
}

.tooltipAlignment {
	margin-left: 5px;
}
.tooltipAlignment.tooltipRight div{
	float: right;
}