.textarea {
	composes: primary-gray-border from '../styles.css';
	width: 100%;
	padding: 5px;
	resize: none;
	transition: all 200ms ease-out;
}

.textareaWrapper {
	/* 1% difference is textarea inner padding */
	width: 99%;
	composes: default-font from '../styles.css';
}

.small {
	width: 30%;
}

.medium {
	width: 60%;
}

.large {
	width: 90%;
}

.resizable {
	resize: vertical;
}

.remainingCount {
	color: #999;
	position: relative;
	text-align: right;
	left: 12px;
}

.active {
	composes: text-input-active from '../styles.css';
}

.header {
    display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 0.35rem;
}

.headerFont {
	composes: header-font from '../styles.css';
}

.invalid {
	composes: text-input-invalid from '../styles.css';
}

.invalid + span {
	color: #bd0a33;
	float: left;
}

.disabled {
	composes: cursor-not-allowed from '../styles.css';
	pointer-events: none;
	opacity: 0.6;
}

.hidden {
	display: none;
	visibility: hidden;
}

.error_text {
  composes: header-font from '../styles.css';
  color: #BD0A33;
}

.tooltipAlignment {
	margin-left: 5px;
}
.tooltipAlignment.tooltipRight div{
	float: right;
}

.leftLabel {
	 display: table-cell;
	 white-space: nowrap;
	 vertical-align: middle;
}

.label {
	padding: 10px 0 5px 0;
}

.labelFont {
	composes: header-font from '../styles.css';
}

.labelSpacing {
	margin-bottom: 0.35rem;
	padding-right: 1rem;
}

.leftLabelContent {
	display: table-cell;
}

.content {
	composes: clearfix from '../styles.css';
	composes: bg-white from '../styles.css';
	composes: z4 from '../styles.css';
	composes: cursor-pointer from '../styles.css';
	composes: default-font from '../styles.css';
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	left: 0;
	position: relative;
}

.fullWidth{
	min-width: 100px;
	width:100%;
}