.textarea {
	composes: primary-gray-border from '../styles.css';
	padding: 5px;
}

.textarea:-moz-ui-invalid {/* fixes red border on required fields in FF */
	box-shadow: none;
}

.textareaWidth {
	width: 100%;
}

.textareaWrapper {
	/* 1% difference is textarea inner padding */
	width: 99%;
	composes: default-font from '../styles.css';
}

.resizable {
	resize: vertical;
}

.unsizable{
	resize: none;
}

.remainingCount {
	color: #999;
	position: relative;
	text-align: right;
	left: 12px;
}

.active {
	composes: text-input-active from '../styles.css';
}

.header {
    display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 0.35rem;
}

.headerFont {
	composes: header-font from '../styles.css';
}

.invalid {
	composes: text-input-invalid from '../styles.css';
}

.invalid + span {
	color: #bd0a33;
	float: left;
}

.disabled {
	composes: cursor-not-allowed from '../styles.css';
	pointer-events: none;
	opacity: 0.6;
}

.hidden {
	display: none;
	visibility: hidden;
}

.error_text {
  composes: header-font from '../styles.css';
  color: #BD0A33;
}

.tooltipAlignment {
	margin-left: 5px;
}
.tooltipAlignment.tooltipRight div{
	float: right;
}

.leftLabel {
	display: flex;
	white-space: nowrap;
}

.label {
	display: inline-block;
	composes: header-font from '../styles.css';
}

.labelFont {
	composes: header-font from '../styles.css';
}

.labelSpacing {
	margin-bottom: 0.35rem;
}

.leftLabelContent {
	display: table-cell;
}

.content {
	composes: clearfix from '../styles.css';
	composes: bg-white from '../styles.css';
	composes: z4 from '../styles.css';
	composes: cursor-pointer from '../styles.css';
	composes: default-font from '../styles.css';
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	left: 0;
	position: relative;
}

.fullWidth{
	min-width: 100px;
	width:100%;
}


.verticalPadding {
    padding-top: 10px;
    padding-bottom: 5px;
}

.horizontalPadding {
    padding-right: 1rem;
}


.labelContainer {
	display: flex;
	align-items: center;
}

.required {
    composes: secondary-text from '../styles.css';
}

.required_error {
    composes: error-text from '../styles.css';
}

.success {
	composes: text-input-valid from '../styles.css';
	composes: marg-b-half from '../styles.css';
}

.error {
	composes: text-input-invalid from '../styles.css';
	composes: marg-b-half from '../styles.css';
}

.warning {
	composes: text-input-warning from '../styles.css';
	composes: marg-b-half from '../styles.css';
}

.success_message {
	composes: success-text from '../styles.css';
}

.error_message {
	composes: error-text from '../styles.css';
}

.warning_message {
	composes: warning-text from '../styles.css';
}