@import './variables.css';

.primary-border {
  border-style: solid;
  border-width: var(--default-border-width);
  border-color: var(--primary);
}
.secondary-border {
  border-style: solid;
  border-width: var(--default-border-width);
  border-color: var(--secondary);
}
.default-border {
  border-style: solid;
  border-width: var(--default-border-width);
  border-color: var(--default-border-color)
}

.primary-border-top {
  border-style: solid;
  border-top-width: var(--default-border-width);
  border-top-color: var(--primary);
}
.secondary-border-top {
  border-style: solid;
  border-top-width: var(--default-border-width);
  border-top-color: var(--secondary);
}
.default-border-top {
  border-style: solid;
  border-top-width: var(--default-border-width);
  border-top-color: var(--default-border-color)
}
.border-top {
  border-top-style: solid;
  border-top-width: var(--default-border-width);
  border-top-color: var(--default-border-color);
}

.primary-border-right {
  border-style: solid;
  border-right-width: var(--default-border-width);
  border-right-color: var(--primary);
}
.secondary-border-right {
  border-style: solid;
  border-right-width: var(--default-border-width);
  border-right-color: var(--secondary);
}
.default-border-right {
  border-style: solid;
  border-right-width: var(--default-border-width);
  border-right-color: var(--default-border-color)
}
.border-right {
  border-right-style: solid;
  border-right-width: var(--default-border-width);
  border-right-color: var(--default-border-color);
}

.primary-border-bottom {
  border-style: solid;
  border-bottom-width: var(--default-border-width);
  border-bottom-color: var(--primary);
}
.secondary-border-bottom {
  border-style: solid;
  border-bottom-width: var(--default-border-width);
  border-bottom-color: var(--secondary);
}
.default-border-bottom {
  border-style: solid;
  border-bottom-width: var(--default-border-width);
  border-bottom-color: var(--default-border-color)
}
.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: var(--default-border-width);
  border-bottom-color: var(--default-border-color);
}

.border-bottom-dotted { border-bottom-style: dotted }

.primary-border-left {
  border-style: solid;
  border-left-width: var(--default-border-width);
  border-left-color: var(--primary);
}
.secondary-border-left {
  border-style: solid;
  border-left-width: var(--default-border-width);
  border-left-color: var(--secondary);
}
.default-border-left {
  border-style: solid;
  border-left-width: var(--default-border-width);
  border-left-color: var(--default-border-color)
}
.border-left {
  border-style: solid;
  border-left-width: var(--default-border-width);
  border-left-color: var(--default-border-color);
}

.border-colorless {
  border-style: solid;
  border-width: var(--default-border-width);
}
.border-left-colorless {
  border-style: solid;
  border-left-width: var(--default-border-width);
}
.border-right-colorless {
  border-style: solid;
  border-right-width: var(--default-border-width);
}
.border-top-colorless {
  border-style: solid;
  border-top-width: var(--default-border-width);
}
.border-bottom-colorless {
  border-style: solid;
  border-bottom-width: var(--default-border-width);
}

.border-none { border: 0 }

.rounded { border-radius: var(--border-radius) }
.rounded-top { border-top-left-radius: var(--border-radius); border-top-right-radius: var(--border-radius) }
.rounded-bottom { border-bottom-left-radius: var(--border-radius); border-bottom-right-radius: var(--border-radius) }
.circle  { border-radius: 50% }

.rounded-top    { border-radius: var(--border-radius) var(--border-radius) 0 0 }
.rounded-right  { border-radius: 0 var(--border-radius) var(--border-radius) 0 }
.rounded-bottom { border-radius: 0 0 var(--border-radius) var(--border-radius) }
.rounded-left   { border-radius: var(--border-radius) 0 0 var(--border-radius) }

.not-rounded { border-radius: 0 }

.first-child-rounded:first-child { border-radius: var(--border-radius) var(--border-radius) 0 0 }
.last-child-rounded:last-child { border-radius: 0 0 var(--border-radius) var(--border-radius) }

.primary-button-border-width { border-width: var(--button-border-width) }
