.card {
	composes: marg-b-2 from '../styles.css';
	composes: rounded from '../styles.css';
	composes: bg-white from '../styles.css';
	composes: default-border from '../styles.css';
	composes: default-text from '../styles.css';
}

.legend {
	composes: header-font from '../styles.css';
}

