@import '../styles/variables.css';

.root {
    composes: fixed from '../styles.css';
    composes: bottom-0 from '../styles.css';
    composes: z4 from '../styles.css';
    composes: pad-h-3 from '../styles.css';
    composes: pad-v-2 from '../styles.css';
    composes: marg-h-auto from '../styles.css';
    composes: marg-t-2 from '../styles.css';
    composes: flex from '../styles.css';
    composes: flex-center from '../styles.css';
    composes: bg-black from '../styles.css';
    composes: white  from '../styles.css';
    composes: rounded from '../styles.css';
    right: var(--space-3);
    left: var(--space-3);
    transition: all .35s cubic-bezier(0.4, 0, 0.2, 1) .35s;
}

.root:not(.active) {
    transform: translateY(100%);
}

.active {
    transform: translateY(0%);
}

.text {
    margin-left: 1rem;
    flex-grow: 1;
    font-size: 1rem;
}