.block {
	composes: block from '../styles.css';
	composes: marg-b-1 from '../styles.css';
	line-height: 30px;
}

.inline {
	composes: inline-block from '../styles.css';
	composes: marg-r-2 from '../styles.css';
}

.disabled {
	composes: gray from '../styles.css';
}