.radio{
	display: block;
	margin-bottom: .5em;
}

.inline{
	composes: inline-block from '../styles/layout.css';
	display: inline-block;
	margin-right: 1em;
}

.disabled{
	composes: radio;
	color: #999;
}