.base {
    composes: relative width-100 from '../styles/layout.css';
    height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.wide {
    composes: base;
    padding-top: 56.25%;
}

.square {
    composes: base;
    padding-top: 100%;
}

.content :global(iframe) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
