@import '../styles/variables.css';

/*Main Styles*/
.base {
  composes: marg-0  from '../styles.css';
  composes: bold from '../styles.css';
  composes: button-pad-1 from '../styles.css';
  composes: border from '../styles.css';
  composes: cursor-pointer from '../styles.css';
  composes: button-border-width from '../styles.css';
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.125rem;
  -webkit-appearance: none;
  text-transform: uppercase;
}

.base:hover {
  text-decoration: none;
}

.default_btn {
  composes: base;
  composes: charcoal from '../styles.css';
  composes: border-med-grey from '../styles.css';
  composes: bg-silver from '../styles.css';

}
.default_btn:active {
  box-shadow: inset 0 0 0 20rem var(--darken-2),
  inset 0 3px 4px 0 var(--darken-3),
  0 0 1px var(--darken-2);
}
.default_btn:disabled {
  box-shadow: inset 0 0 0 20rem var(--darken-1);
}
.default:hover {
  background-color: #ccc;
  border: 2px solid #666;
}

.outline {
  composes: base;
  composes: rounded from '../styles.css';
  composes: bg-transparent from '../styles.css';
  composes: button-border-width from '../styles.css';
}
.outline:active {
  box-shadow: inset 0 0 0 20rem var(--darken-2),
  inset 0 3px 4px 0 var(--darken-3),
  0 0 1px var(--darken-2);
}
.outline:disabled {
  opacity: .5;
}

/*default button variant*/
.primary {
  composes: bg-sky-blue from '../styles.css';
  composes: hover-bg-blue from '../styles.css';
  composes: border-blue from '../styles.css';
  composes: white from '../styles.css';
}
.button {
  composes: default_btn;
}
.secondary {
  composes: white from '../styles.css';
  composes: bg-ylw-green from '../styles.css';
  composes: border-kelly from '../styles.css';
  composes: hover-bg-kelly from '../styles.css';
}
.success {
  composes: bg-green from '../styles.css';
}

.warning {
  composes: default_btn;
  composes: bg-orange from '../styles.css';
}

.danger {
  composes: default_btn;
  composes: bg-red from '../styles.css';
}

.link {
  composes: default_btn;
  composes: border-none from '../styles.css';
  composes: blue from '../styles.css';
  composes: border-transparent from '../styles.css';
  background-color: transparent;
}
.link:hover{
  text-decoration: underline;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}

/*Outline styles*/

.primary_outline{
  composes: outline;
  composes: blue from '../styles.css';
  composes: hover-bg-blue from '../styles.css';
  composes: hover-white from '../styles.css';
  composes: border-blue from '../styles.css';
  background-color: transparent;
}
.button_outline {
  composes: outline;
  composes: charcoal from '../styles.css';
  composes: hover-bg-gray from '../styles.css';
  composes: hover-charcoal from '../styles.css';
  background-color: transparent;
}
.secondary_outline {
  composes: outline;
  composes: kelly from '../styles.css';
  composes: hover-bg-kelly from '../styles.css';
  composes: hover-white from '../styles.css';
  composes: border-kelly from '../styles.css';
  background-color: transparent;
}

.success_outline {
  composes: outline;
  composes: green from '../styles.css';
  composes: hover-bg-green from '../styles.css';
  composes: hover-white from '../styles.css';
  composes: border-green from '../styles.css';
  background-color: transparent;
}

.warning_outline {
  composes: outline;
  composes: orange from '../styles.css';
  composes: hover-bg-orange from '../styles.css';
  composes: hover-white from '../styles.css';
  composes: border-orange from '../styles.css';
  background-color: transparent;
}

.danger_outline {
  composes: outline;
  composes: red from '../styles.css';
  composes: hover-bg-red from '../styles.css';
  composes: hover-white from '../styles.css';
  composes: border-red from '../styles.css';
  background-color: transparent;
}

.link_outline {
  composes: outline;
  composes: sky-blue from '../styles.css';
  composes: bg-transparent from '../styles.css';
  composes: hover-white from '../styles.css';
  border:none;
  background-color: transparent;

}

.disabled {
  composes: cursor-not-allowed from '../styles.css';
  text-decoration: none;
  pointer-events: none;
  opacity: .65;
}

/*button sizes*/
.large {
  padding: 1rem 1.25rem;
  font-size: 1.25rem;
}

.small {
  padding: .25rem .5rem;
  font-size: .85rem;
}

/*block style*/
.block {
  display: block;
  width: 100%;
}