@import '../styles/variables.css';

.modal {
    composes: default-font from '../styles.css';
}
.active {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 19px 60px rgba(0, 0, 0, .3), 0 15px 20px rgba(0, 0, 0, .22);
    border-radius: 5px;
    padding: 40px 70px;
    border-top: solid 5px var(--secondary);
}

.title {
	margin: 0;
    color: rgb(75, 96, 126);
    font-size: 25px;
    padding-bottom: 20px;
	font-weight: rgb(6, 181, 234);
}

.content {
    font-size: 18px;
}

.dialogWrapper{
    display: block;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.dialog{
    position:relative;
    margin:15% auto;
    margin-bottom:43px;
    z-index:1050;
}

.overlayClass {
    z-index: 1040;
   
}

.overlayLeftStyle{
    left:-16px !important;
}
