@import '../styles/variables.css';

.modal {
    composes: default-font from '../styles.css';
}
.active {
    background-color: var(--white);
    box-shadow: 0 19px 60px rgba(0, 0, 0, .3), 0 15px 20px rgba(0, 0, 0, .22);
    border-radius: 5px;
    padding: var(--space-3) var(--space-4);
    border-top: solid 5px var(--secondary);
}

.title {
    composes: header-font from '../styles.css';
    composes: marg-0 from '../styles.css';
    composes: font-size-2 from '../styles.css';
    padding-bottom: var(--space-2);
}

.dialogWrapper{
    display: block;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.dialog{
    position:relative;
    margin:15% auto;
    margin-bottom:43px;
    z-index:1050;
}

.overlayClass {
    z-index: 1040;
   
}

.overlayLeftStyle{
    left:-16px !important;
}
