.container {
    position: relative;
    width: calc(100% - 3.2rem);
    height: 3.2rem;
    margin-right: 3.2rem;
    user-select: none;
}

.container:not(:last-child) {
    margin-right: 4.2rem;
}

.container:not(:first-child) {
    margin-left: 1rem;
}

.disabled {
    composes: cursor-not-allowed from '../styles.css';
    text-decoration: none;
    pointer-events: none;
}

.disabled > span {
    background-color: rgb(179, 179, 179);
}


.knob {
    position: absolute;
    top: -19px;
    left: -20px;
    z-index: 4;
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.innerknob {
    z-index: 3;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgb(0, 126, 181);
    border-radius: 50%;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .1s;
    transition-property: height, width, background-color, border;
}

.innerknobDisabled {
    z-index: 3;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgb(179, 179, 179);
    border-radius: 50%;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .1s;
    transition-property: height, width, background-color, border;
}

.snaps {
    position: absolute;
    top: 1.5rem;
    left: 0;
    display: flex;
    width: calc(100% + .2rem);
    height: .2rem;
    flex-direction: row;
    pointer-events: none;
}

.snaps:after {
    display: block;
    width: .2rem;
    height: .2rem;
    content: "";
    background-color: #000;
    border-radius: 50%;
}

.snap {
    flex: 1;
}

.snap:after {
    display: block;
    width: .2rem;
    height: .2rem;
    content: "";
    background-color: #000;
    border-radius: 50%;
}

.input {
    width: 5rem;
    padding: 0;
    margin-bottom: 0;
}
.input > input {
    text-align: center;
}

.progress {
    position: absolute;
    top: 0;
    left: 1.6rem;
    width: 100%;
    height: 100%;
}

.innerprogress {
    position: absolute;
    top: 1.5rem;
    height: .2rem;
}

.innerprogress .value {
    transition-duration: 0s;
}

.root:focus .knob:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: "";
    background-color: rgb(63,81,181);
    border-radius: 50%;
    opacity: .26;
}

.editable {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pinned .innerknob:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.6rem;
    height: 2.6rem;
    margin-left: .3rem;
    content: "";
    background-color: rgb(63,81,181);
    border-radius: 50% 50% 50% 0;
    transition: transform .2s ease, background-color .18s ease;
    transform: rotate(-45deg) scale(0) translate(0);
}

.pinned .innerknob:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.2rem;
    height: 2.6rem;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    content: attr(data-value);
    transition: transform .2s ease, background-color .18s ease;
    transform: scale(0) translate(0);
}

.pressed.pinned .innerknob:before{
    transition-delay: 100ms;
    transform: rotate(-45deg) scale(1) translate(1.7rem, -1.7rem);
}

.pressed.pinned .innerknob:after {
    transition-delay: 100ms;
    transform: scale(1) translate(0, -1.7rem);
}

.pressed:not(.pinned).ring .progress {
    left: 3rem;
    width: calc(100% - 1.4rem);
}

.pressed:not(.pinned) .innerknob {
    width: 50%;
    height: 50%;
    transform: translateZ(0);
}

.ring .innerknob {
    background-color: rgb(238,238,238);
}

.ring .innerknob:before {
    background-color: rgb(63,81,181);
}

.ring .progress {
      left: 2rem;
      width: calc(100% - .4rem);
      transition: left .18s ease, width .18s ease;
}

.ring.pinned .innerknob {
    background-color: #fff;
}
.ring.pinned .progress {
    left: 1.6rem;
    width: calc(100%);
}
