.container {
    composes: pad-0 from '../styles.css';
    composes: marg-b-0 from '../styles.css';
    position: relative;
    display: flex;
    flex-direction: column;
}

.navigation {
    composes: border-bottom from '../styles.css';
    composes: border-gray from '../styles.css';
    display: flex;
    flex-direction: row;
}