.container {
  composes: inline-block from '../styles.css';
  composes: relative from '../styles.css';
}


.content {
  composes: absolute from '../styles.css';
  composes: clearfix from '../styles.css';
  composes: cursor-pointer from '../styles.css';
  composes: rounded from '../styles.css';
  composes: bg-white from '../styles.css';
  composes: left-0 from '../styles.css';
  composes: left-align from '../styles.css';
  composes: top-100 from '../styles.css';
  composes: z4 from '../styles.css';
  composes: overflow-y-scroll from '../styles.css';
  composes: hover-decoration-none from '../styles.css';
  box-shadow:  0 2px 3px rgba(0, 0, 0, 0.075), 0 0 0 1px rgba(0,0,0,0.1);
}

.inactive {
  composes: content;
  composes: display-none from '../styles.css';

}

.active {
  composes: content;
  composes: block from '../styles.css';
}

.list {
  composes: list-style-none from '../styles.css';
  composes: pad-h-0 from '../styles.css';

}

.item {
  composes: nowrap from '../styles.css';
  composes: pad-v-1 from '../styles.css';
  composes: pad-h-2 from '../styles.css';
  composes: hover-white from '../styles.css';
  composes: hover-bg-blue from '../styles.css';
  composes: hover-decoration-none from '../styles.css';
}