@import './styles/layout.css';
@import './styles/borders.css';
@import './styles/typography.css';
@import './styles/colors.css';
@import './styles/miscellaneous.css';
/* Custom Font Family for Digital River */
@font-face {
  	font-family: 'MrEavesXLModOT';
  	font-weight: normal;
  	font-style: normal;
  	src: url('../assets/fonts/MrEavesXLModOT-Reg.eot');
  	src: url('../assets/fonts/MrEavesXLModOT-Reg.eot?#iefix') format('embedded-opentype'),
  	url('../assets/fonts/MrEavesXLModOT-Reg.woff2') format('woff2'),
  	url('../assets/fonts/MrEavesXLModOT-Reg.svg#font') format('svg'),
  	url('../assets/fonts/MrEavesXLModOT-Reg.otf') format("opentype"),
  	url('../assets/fonts/MrEavesXLModOT-Reg.ttf') format('truetype'),
  	url('../assets/fonts/MrEavesXLModOT-Reg.woff') format('woff');
}
@font-face {
    font-family: 'MrEavesXLModOT';
    src: url('../assets/fonts/MrEavesXLModOT-Bold.eot');
  	src: url('../assets/fonts/MrEavesXLModOT-Bold.eot?#iefix') format('embedded-opentype'),
  	url('../assets/fonts/MrEavesXLModOT-Bold.woff2') format('woff2'),
  	url('../assets/fonts/MrEavesXLModOT-Bold.svg#font') format('svg'),
  	url('../assets/fonts/MrEavesXLModOT-Bold.otf') format("opentype"),
  	url('../assets/fonts/MrEavesXLModOT-Bold.ttf') format('truetype'),
  	url('../assets/fonts/MrEavesXLModOT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MrEavesXLModOT';
    src: url('../assets/fonts/MrEavesXLModOT-BoldItalic.eot');
  	src: url('../assets/fonts/MrEavesXLModOT-BoldItalic.eot?#iefix') format('embedded-opentype'),
  	url('../assets/fonts/MrEavesXLModOT-BoldItalic.woff2') format('woff2'),
  	url('../assets/fonts/MrEavesXLModOT-BoldItalic.svg#font') format('svg'),
  	url('../assets/fonts/MrEavesXLModOT-BoldItalic.otf') format("opentype"),
  	url('../assets/fonts/MrEavesXLModOT-BoldItalic.ttf') format('truetype'),
  	url('../assets/fonts/MrEavesXLModOT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'MrEavesXLModOT';
    src: url('../assets/fonts/MrEavesXLModOT-RegItalic.eot');
  	src: url('../assets/fonts/MrEavesXLModOT-RegItalic.eot?#iefix') format('embedded-opentype'),
  	url('../assets/fonts/MrEavesXLModOT-RegItalic.woff2') format('woff2'),
  	url('../assets/fonts/MrEavesXLModOT-RegItalic.svg#font') format('svg'),
  	url('../assets/fonts/MrEavesXLModOT-RegItalic.otf') format("opentype"),
  	url('../assets/fonts/MrEavesXLModOT-RegItalic.ttf') format('truetype'),
  	url('../assets/fonts/MrEavesXLModOT-RegItalic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}