.container {
	clear: both;
	display: table;
}
input.opacity[type="checkbox"], input.opacity[type="radio"] {
	/*used by Radio and Checkbox modules, even though not used in Input itself */
	/*this needs to stay here to avoid display issues with those modules in IE*/
	opacity: 0;
}
.input {
	composes: pad-1 from '../styles.css';
	composes: default-border from '../styles.css';
	position: relative;
	box-shadow: none;
	transition: box-shadow 0.3s, border 0.3s;
	appearance: none;
	box-sizing: border-box;
}

.input:focus {
  	border: solid 1px #66afe9;
  	outline: none;
  	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.05), 0 0 3px 1px rgba(102, 175, 233, .4);
          	box-shadow: 0 0 1px 1px rgba(0,0,0,.05), 0 0 3px 1px rgba(102, 175, 233, .4);
}

.small {
	width: 15%;
}

.medium {
	width: 30%;
}

.large {
	width: 60%;
}

.max {
	width: 100%;
}

.blockInput {
	display: block;
}

.input::placeholder {
  	color: #aaa;
}

.error {
	composes: red from '../styles.css';
}

.invalid {
	composes: marg-b-half from '../styles.css';
	border: solid 1px #bd0a33;
  	outline: none;
  	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05), 0 0 3px 1px rgba(234, 15, 67, .4);
          	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05), 0 0 3px 1px rgba(234, 15, 67, .4);
}

.invalid:focus {
	border: solid 1px #bd0a33;
  	outline: none;
  	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05), 0 0 3px 1px rgba(234, 15, 67, .4);
          	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05), 0 0 3px 1px rgba(234, 15, 67, .4);	
}

.disabled {
	opacity: .65;
	pointer-events: none;
}

.hidden {
	display: none;
	visibility: hidden;
}

.container-disabled {
	composes: cursor-not-allowed from '../styles.css';
}